/* TAMAÑO PARA EL LOGO EN NAV */
.logoNav {
    height: 30px; 
    margin-right: 10px; 
    vertical-align: middle; 
}

/* ESTILOS PARA LAS IMAGENES */
.img {
    min-height: 200px;
    height: auto;
}

/* ESTILO PARA SOBRE NOSOTROS */
.styleSobreNosotros{
    display: inline-block;
    width: 500px; 
    height: auto; 
    margin: 70px;
}

/* ESTILO PARA DONDE ENCONTRARNOS */
.styleUbicacion{
    display: inline-block;
    width: 500px; 
    height: auto; 
    margin: 70px;
}
.styleMapa{
    display: inline-block;
    width: 500px; 
    height: 500px; 
    margin: 70px;
}